<div class="container">
    <div class="row">
        <div class="col">
            <form class="form-inline">
                <div class="form-group mx-sm-3 mb-2">
                  <label for="inputPassword2" class="sr-only">Buscar</label>
                  <input type="pesquisa" class="form-control" id="inputPassword2" placeholder="buscar">
                </div>
              </form>
        </div>
    </div>
    <div class="row">
        
    </div>
</div>