<div class="container">
    <div class="row">
      <div class="col mt-5">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title text-center">Anaminese</h5>
            <ol class="list-group list-group">
                <li class="list-group-item d-flex justify-content-between align-items-start">
                  <div class="ms-2 me-auto">
                    <div class="fw-bold">Nome</div>
                    Cras justo odio
                  </div>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-start">
                  <div class="ms-2 me-auto">
                    <div class="fw-bold">Data de Nascimento</div>
                    Cras justo odio
                  </div>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-start">
                  <div class="ms-2 me-auto">
                    <div class="fw-bold">Profissão</div>
                    Cras justo odio
                  </div>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-start">
                  <div class="ms-2 me-auto">
                    <div class="fw-bold">Queixa principal</div>
                    Cras justo odio
                  </div>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-start">
                  <div class="ms-2 me-auto">
                    <div class="fw-bold">Gestante?</div>
                    Cras justo odio
                  </div>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-start">
                  <div class="ms-2 me-auto">
                    <div class="fw-bold">Lesão ou fratura, osteoporose?</div>
                    Cras justo odio
                  </div>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-start">
                  <div class="ms-2 me-auto">
                    <div class="fw-bold">Cirurgia?</div>
                    Cras justo odio
                  </div>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-start">
                  <div class="ms-2 me-auto">
                    <div class="fw-bold">Possui Pressão Alta, Diabetes,
                        Convulsão, Labirintite, Tendinite, Burcite, Pedra no rim ou vesícula, Tumores, alguma
                        Alergia?</div>
                    Cras justo odio
                  </div>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-start">
                  <div class="ms-2 me-auto">
                    <div class="fw-bold">Tratamento Físico ou
                        Psicológico?</div>
                    Cras justo odio
                  </div>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-start">
                  <div class="ms-2 me-auto">
                    <div class="fw-bold">Trombo ou Trombose?</div>
                    Cras justo odio
                  </div>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-start">
                  <div class="ms-2 me-auto">
                    <div class="fw-bold">Pressão Forte, Médio ou Leve?</div>
                    Cras justo odio
                  </div>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-start">
                  <div class="ms-2 me-auto">
                    <div class="fw-bold">Música de preferência?</div>
                    Cras justo odio
                  </div>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-start">
                  <div class="ms-2 me-auto">
                    <div class="fw-bold">Observações</div>
                    Cras justo odio
                  </div>
                </li>
              </ol>
          </div>
        </div>
      </div>
    </div>
  </div>