<div class="container">
    <div class="row align-items-center">
        <div class="col-md-6 mt-5">
                <div class="text-center align-middle">
                    <h5>BGX Solution</h5>
                    <p class="b">Soluções em TI</p>
                </div>
        </div>
        <div class="col-md-6 mt-5">
            <div class="card">
                <form class="m-3" method="post" action="">
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Usuário</label>
                        <input type="text" name="usuario" class="form-control" id="exampleInputEmail1"
                            aria-describedby="emailHelp">
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label">Senha</label>
                        <input type="password" name="password" class="form-control" id="exampleInputPassword1">
                    </div>
                    <div class="d-grid gap-1">
                        <button type="submit" class="btn btn-primary">Entrar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>